Repository briandfoy/PerlPowerTools, changes with the labels that .github/labeler.yml gives for each.
All labels: Priority: low, Type: enhancement, Type: testing, Tyoe: distribution maintenance, Tyoe: documentation, Program: addbib, Program: apply, Program: ar, Program: arch, Program: arithmetic, Program: asa, Program: awk, Program: banner, Program: base64, Program: basename, Program: bc, Program: bc.bak, Program: bcd, Program: cal, Program: cat, Program: chgrp, Program: ching, Program: chmod, Program: chown, Program: clear, Program: cmp, Program: col, Program: colrm, Program: comm, Program: cp, Program: cut, Program: date, Program: dc, Program: deroff, Program: diff, Program: dirname, Program: du, Program: echo, Program: ed, Program: env, Program: expand, Program: expr, Program: factor, Program: false, Program: file, Program: find, Program: fish, Program: fmt, Program: fold, Program: fortune, Program: from, Program: glob, Program: grep, Program: hangman, Program: head, Program: hexdump, Program: id, Program: install, Program: join, Program: kill, Program: ln, Program: lock, Program: look, Program: ls, Program: mail, Program: maze, Program: mimedecode, Program: mkdir, Program: mkfifo, Program: moo, Program: morse, Program: nl, Program: od, Program: par, Program: paste, Program: patch, Program: perldoc, Program: perlpowertools, Program: pig, Program: ping, Program: pom, Program: ppt, Program: pr, Program: primes, Program: printenv, Program: printf, Program: pwd, Program: rain, Program: random, Program: rev, Program: rm, Program: rmdir, Program: robots, Program: rot13, Program: seq, Program: shar, Program: sleep, Program: sort, Program: spell, Program: split, Program: strings, Program: sum, Program: tac, Program: tail, Program: tar, Program: tee, Program: test, Program: time, Program: touch, Program: tr, Program: true, Program: tsort, Program: tty, Program: uname, Program: unexpand, Program: uniq, Program: units, Program: unlink, Program: unpar, Program: unshar, Program: uudecode, Program: uuencode, Program: wc, Program: what, Program: which, Program: whoami, Program: whois, Program: words, Program: wump, Program: xargs, Program: yes

.github/labeler.yml:

# Created by util/make_labeler_config at Mon Oct  2 00:29:55 2023
# https://github.com/marketplace/actions/labeler

"Priority: low":
  - '**'

"Type: enhancement":
  - 'bin/*'

"Type: testing":
  - any: [ 't/*', 'xt/*' ]

"Tyoe: distribution maintenance":
  - any: [ 'Makefile.PL', 'MANIFEST', 'MANIFEST.SKIP', 'INSTALL.SKIP', 'Changes', 'util/*' ]

"Tyoe: documentation":
  - any: [ 'CONTRIB*', 'LICENS*', 'PROGRAM*', 'README*' ]

"Program: addbib":
  - bin/addbib

"Program: apply":
  - bin/apply

"Program: ar":
  - bin/ar

"Program: arch":
  - bin/arch

"Program: arithmetic":
  - bin/arithmetic

"Program: asa":
  - bin/asa

"Program: awk":
  - bin/awk

"Program: banner":
  - bin/banner

"Program: base64":
  - bin/base64

"Program: basename":
  - bin/basename

"Program: bc":
  - bin/bc

"Program: bc.bak":
  - bin/bc.bak

"Program: bcd":
  - bin/bcd

"Program: cal":
  - bin/cal

"Program: cat":
  - bin/cat

"Program: chgrp":
  - bin/chgrp

"Program: ching":
  - bin/ching

"Program: chmod":
  - bin/chmod

"Program: chown":
  - bin/chown

"Program: clear":
  - bin/clear

"Program: cmp":
  - bin/cmp

"Program: col":
  - bin/col

"Program: colrm":
  - bin/colrm

"Program: comm":
  - bin/comm

"Program: cp":
  - bin/cp

"Program: cut":
  - bin/cut

"Program: date":
  - bin/date

"Program: dc":
  - bin/dc

"Program: deroff":
  - bin/deroff

"Program: diff":
  - bin/diff

"Program: dirname":
  - bin/dirname

"Program: du":
  - bin/du

"Program: echo":
  - bin/echo

"Program: ed":
  - bin/ed

"Program: env":
  - bin/env

"Program: expand":
  - bin/expand

"Program: expr":
  - bin/expr

"Program: factor":
  - bin/factor

"Program: false":
  - bin/false

"Program: file":
  - bin/file

"Program: find":
  - bin/find

"Program: fish":
  - bin/fish

"Program: fmt":
  - bin/fmt

"Program: fold":
  - bin/fold

"Program: fortune":
  - bin/fortune

"Program: from":
  - bin/from

"Program: glob":
  - bin/glob

"Program: grep":
  - bin/grep

"Program: hangman":
  - bin/hangman

"Program: head":
  - bin/head

"Program: hexdump":
  - bin/hexdump

"Program: id":
  - bin/id

"Program: install":
  - bin/install

"Program: join":
  - bin/join

"Program: kill":
  - bin/kill

"Program: ln":
  - bin/ln

"Program: lock":
  - bin/lock

"Program: look":
  - bin/look

"Program: ls":
  - bin/ls

"Program: mail":
  - bin/mail

"Program: maze":
  - bin/maze

"Program: mimedecode":
  - bin/mimedecode

"Program: mkdir":
  - bin/mkdir

"Program: mkfifo":
  - bin/mkfifo

"Program: moo":
  - bin/moo

"Program: morse":
  - bin/morse

"Program: nl":
  - bin/nl

"Program: od":
  - bin/od

"Program: par":
  - bin/par

"Program: paste":
  - bin/paste

"Program: patch":
  - bin/patch

"Program: perldoc":
  - bin/perldoc

"Program: perlpowertools":
  - bin/perlpowertools

"Program: pig":
  - bin/pig

"Program: ping":
  - bin/ping

"Program: pom":
  - bin/pom

"Program: ppt":
  - bin/ppt

"Program: pr":
  - bin/pr

"Program: primes":
  - bin/primes

"Program: printenv":
  - bin/printenv

"Program: printf":
  - bin/printf

"Program: pwd":
  - bin/pwd

"Program: rain":
  - bin/rain

"Program: random":
  - bin/random

"Program: rev":
  - bin/rev

"Program: rm":
  - bin/rm

"Program: rmdir":
  - bin/rmdir

"Program: robots":
  - bin/robots

"Program: rot13":
  - bin/rot13

"Program: seq":
  - bin/seq

"Program: shar":
  - bin/shar

"Program: sleep":
  - bin/sleep

"Program: sort":
  - bin/sort

"Program: spell":
  - bin/spell

"Program: split":
  - bin/split

"Program: strings":
  - bin/strings

"Program: sum":
  - bin/sum

"Program: tac":
  - bin/tac

"Program: tail":
  - bin/tail

"Program: tar":
  - bin/tar

"Program: tee":
  - bin/tee

"Program: test":
  - bin/test

"Program: time":
  - bin/time

"Program: touch":
  - bin/touch

"Program: tr":
  - bin/tr

"Program: true":
  - bin/true

"Program: tsort":
  - bin/tsort

"Program: tty":
  - bin/tty

"Program: uname":
  - bin/uname

"Program: unexpand":
  - bin/unexpand

"Program: uniq":
  - bin/uniq

"Program: units":
  - bin/units

"Program: unlink":
  - bin/unlink

"Program: unpar":
  - bin/unpar

"Program: unshar":
  - bin/unshar

"Program: uudecode":
  - bin/uudecode

"Program: uuencode":
  - bin/uuencode

"Program: wc":
  - bin/wc

"Program: what":
  - bin/what

"Program: which":
  - bin/which

"Program: whoami":
  - bin/whoami

"Program: whois":
  - bin/whois

"Program: words":
  - bin/words

"Program: wump":
  - bin/wump

"Program: xargs":
  - bin/xargs

"Program: yes":
  - bin/yes

don't test long options (#439 moved to getopts)
  t/rev/rev.t
Labels: Priority: low

paste: reject implied file argument
  bin/paste
Labels: Priority: low, Type: enhancement, Program: paste

paste: reject implied file argument (#440)
  bin/paste
Labels: Priority: low, Type: enhancement, Program: paste

ed: 1s/pat1/pat2/ incorrectly processes multiple lines
  bin/ed
Labels: Priority: low, Type: enhancement, Program: ed

fix h command
  bin/ed
Labels: Priority: low, Type: enhancement, Program: ed

more correct to check both addresses
  bin/ed
Labels: Priority: low, Type: enhancement, Program: ed

ed: 1s/pat1/pat2/ incorrectly processes multiple lines (#441)
  bin/ed
Labels: Priority: low, Type: enhancement, Program: ed

cat: line number compat
  bin/cat
Labels: Priority: low, Type: enhancement, Program: cat

maze: tweak usage string
  bin/maze
Labels: Priority: low, Type: enhancement, Program: maze

bc: standard behaviour for '-' argument
  bin/bc
Labels: Priority: low, Type: enhancement, Program: bc

id: don't suggest -a in usage
  bin/id
Labels: Priority: low, Type: enhancement, Program: id

cat: line number compat (#442)
  bin/cat
Labels: Priority: low, Type: enhancement, Program: cat

maze: tweak usage string (#443)
  bin/maze
Labels: Priority: low, Type: enhancement, Program: maze

id: don't suggest -a in usage (#445)
  bin/id
Labels: Priority: low, Type: enhancement, Program: id

bc: standard behaviour for '-' argument (#444)
  bin/bc
Labels: Priority: low, Type: enhancement, Program: bc

nl: validate -n option
  bin/nl
Labels: Priority: low, Type: enhancement, Program: nl

Rewrite the cat test for 442
  t/cat/cat.t
  t/data/cat/cat-n-1.txt
Labels: Priority: low

Take out IPC::Run3 since the script doesn't use it
  t/od/od.t
Labels: Priority: low

Remove debugging comment
  t/echo/echo.t
Labels: Priority: low

nl: validate -n option (#446)
  bin/nl
Labels: Priority: low, Type: enhancement, Program: nl

fold: '-' is not stdin
  bin/fold
Labels: Priority: low, Type: enhancement, Program: fold

basename: non-zero exit code for no arguments
  bin/basename
Labels: Priority: low, Type: enhancement, Program: basename

dirname: non-zero exit code for no arguments
  bin/dirname
Labels: Priority: low, Type: enhancement, Program: dirname

fish: reduce code
  bin/fish
Labels: Priority: low, Type: enhancement, Program: fish

cmp: check length off-by-one
  bin/cmp
Labels: Priority: low, Type: enhancement, Program: cmp

bc: unused var
  bin/bc
Labels: Priority: low, Type: enhancement, Program: bc

fold: '-' is not stdin (#447)
  bin/fold
Labels: Priority: low, Type: enhancement, Program: fold

bc: unused var (#451)
  bin/bc
Labels: Priority: low, Type: enhancement, Program: bc

basename/dirname: exit(1) for no args (#448)
  bin/basename
  bin/dirname
Labels: Priority: low, Type: enhancement, Program: basename, Program: dirname

fish: reduce code (#449)
  bin/fish
Labels: Priority: low, Type: enhancement, Program: fish

cmp: check length off-by-one (#450)
  bin/cmp
Labels: Priority: low, Type: enhancement, Program: cmp

bc: array assignment incorrectly prints
  bin/bc
Labels: Priority: low, Type: enhancement, Program: bc

whoami: treat arguments as error
  bin/whoami
Labels: Priority: low, Type: enhancement, Program: whoami

kill: signal number validation
  bin/kill
Labels: Priority: low, Type: enhancement, Program: kill

whoami: treat arguments as error (#453)
  bin/whoami
Labels: Priority: low, Type: enhancement, Program: whoami

kill: signal number validation (#454)
  bin/kill
Labels: Priority: low, Type: enhancement, Program: kill

bc: array assignment incorrectly prints (#452)
  bin/bc
Labels: Priority: low, Type: enhancement, Program: bc

yes: remove GNU extension
  bin/yes
Labels: Priority: low, Type: enhancement, Program: yes

what: do not read stdin
  bin/what
Labels: Priority: low, Type: enhancement, Program: what

wc: unexpected counts for -w flag
  bin/wc
Labels: Priority: low, Type: enhancement, Program: wc
