Repository briandfoy/PerlPowerTools, changes with the labels that .github/labeler.yml gives for each.
All labels: Priority: low, Type: enhancement, Type: testing, Tyoe: distribution maintenance, Tyoe: documentation, Program: addbib, Program: apply, Program: ar, Program: arch, Program: arithmetic, Program: asa, Program: awk, Program: banner, Program: base64, Program: basename, Program: bc, Program: bc.bak, Program: bcd, Program: cal, Program: cat, Program: chgrp, Program: ching, Program: chmod, Program: chown, Program: clear, Program: cmp, Program: col, Program: colrm, Program: comm, Program: cp, Program: cut, Program: date, Program: dc, Program: deroff, Program: diff, Program: dirname, Program: du, Program: echo, Program: ed, Program: env, Program: expand, Program: expr, Program: factor, Program: false, Program: file, Program: find, Program: fish, Program: fmt, Program: fold, Program: fortune, Program: from, Program: glob, Program: grep, Program: hangman, Program: head, Program: hexdump, Program: id, Program: install, Program: join, Program: kill, Program: ln, Program: lock, Program: look, Program: ls, Program: mail, Program: maze, Program: mimedecode, Program: mkdir, Program: mkfifo, Program: moo, Program: morse, Program: nl, Program: od, Program: par, Program: paste, Program: patch, Program: perldoc, Program: perlpowertools, Program: pig, Program: ping, Program: pom, Program: ppt, Program: pr, Program: primes, Program: printenv, Program: printf, Program: pwd, Program: rain, Program: random, Program: rev, Program: rm, Program: rmdir, Program: robots, Program: rot13, Program: seq, Program: shar, Program: sleep, Program: sort, Program: spell, Program: split, Program: strings, Program: sum, Program: tac, Program: tail, Program: tar, Program: tee, Program: test, Program: time, Program: touch, Program: tr, Program: true, Program: tsort, Program: tty, Program: uname, Program: unexpand, Program: uniq, Program: units, Program: unlink, Program: unpar, Program: unshar, Program: uudecode, Program: uuencode, Program: wc, Program: what, Program: which, Program: whoami, Program: whois, Program: words, Program: wump, Program: xargs, Program: yes

.github/labeler.yml:

# Created by util/make_labeler_config at Mon Oct  2 00:29:55 2023
# https://github.com/marketplace/actions/labeler

"Priority: low":
  - '**'

"Type: enhancement":
  - 'bin/*'

"Type: testing":
  - any: [ 't/*', 'xt/*' ]

"Tyoe: distribution maintenance":
  - any: [ 'Makefile.PL', 'MANIFEST', 'MANIFEST.SKIP', 'INSTALL.SKIP', 'Changes', 'util/*' ]

"Tyoe: documentation":
  - any: [ 'CONTRIB*', 'LICENS*', 'PROGRAM*', 'README*' ]

"Program: addbib":
  - bin/addbib

"Program: apply":
  - bin/apply

"Program: ar":
  - bin/ar

"Program: arch":
  - bin/arch

"Program: arithmetic":
  - bin/arithmetic

"Program: asa":
  - bin/asa

"Program: awk":
  - bin/awk

"Program: banner":
  - bin/banner

"Program: base64":
  - bin/base64

"Program: basename":
  - bin/basename

"Program: bc":
  - bin/bc

"Program: bc.bak":
  - bin/bc.bak

"Program: bcd":
  - bin/bcd

"Program: cal":
  - bin/cal

"Program: cat":
  - bin/cat

"Program: chgrp":
  - bin/chgrp

"Program: ching":
  - bin/ching

"Program: chmod":
  - bin/chmod

"Program: chown":
  - bin/chown

"Program: clear":
  - bin/clear

"Program: cmp":
  - bin/cmp

"Program: col":
  - bin/col

"Program: colrm":
  - bin/colrm

"Program: comm":
  - bin/comm

"Program: cp":
  - bin/cp

"Program: cut":
  - bin/cut

"Program: date":
  - bin/date

"Program: dc":
  - bin/dc

"Program: deroff":
  - bin/deroff

"Program: diff":
  - bin/diff

"Program: dirname":
  - bin/dirname

"Program: du":
  - bin/du

"Program: echo":
  - bin/echo

"Program: ed":
  - bin/ed

"Program: env":
  - bin/env

"Program: expand":
  - bin/expand

"Program: expr":
  - bin/expr

"Program: factor":
  - bin/factor

"Program: false":
  - bin/false

"Program: file":
  - bin/file

"Program: find":
  - bin/find

"Program: fish":
  - bin/fish

"Program: fmt":
  - bin/fmt

"Program: fold":
  - bin/fold

"Program: fortune":
  - bin/fortune

"Program: from":
  - bin/from

"Program: glob":
  - bin/glob

"Program: grep":
  - bin/grep

"Program: hangman":
  - bin/hangman

"Program: head":
  - bin/head

"Program: hexdump":
  - bin/hexdump

"Program: id":
  - bin/id

"Program: install":
  - bin/install

"Program: join":
  - bin/join

"Program: kill":
  - bin/kill

"Program: ln":
  - bin/ln

"Program: lock":
  - bin/lock

"Program: look":
  - bin/look

"Program: ls":
  - bin/ls

"Program: mail":
  - bin/mail

"Program: maze":
  - bin/maze

"Program: mimedecode":
  - bin/mimedecode

"Program: mkdir":
  - bin/mkdir

"Program: mkfifo":
  - bin/mkfifo

"Program: moo":
  - bin/moo

"Program: morse":
  - bin/morse

"Program: nl":
  - bin/nl

"Program: od":
  - bin/od

"Program: par":
  - bin/par

"Program: paste":
  - bin/paste

"Program: patch":
  - bin/patch

"Program: perldoc":
  - bin/perldoc

"Program: perlpowertools":
  - bin/perlpowertools

"Program: pig":
  - bin/pig

"Program: ping":
  - bin/ping

"Program: pom":
  - bin/pom

"Program: ppt":
  - bin/ppt

"Program: pr":
  - bin/pr

"Program: primes":
  - bin/primes

"Program: printenv":
  - bin/printenv

"Program: printf":
  - bin/printf

"Program: pwd":
  - bin/pwd

"Program: rain":
  - bin/rain

"Program: random":
  - bin/random

"Program: rev":
  - bin/rev

"Program: rm":
  - bin/rm

"Program: rmdir":
  - bin/rmdir

"Program: robots":
  - bin/robots

"Program: rot13":
  - bin/rot13

"Program: seq":
  - bin/seq

"Program: shar":
  - bin/shar

"Program: sleep":
  - bin/sleep

"Program: sort":
  - bin/sort

"Program: spell":
  - bin/spell

"Program: split":
  - bin/split

"Program: strings":
  - bin/strings

"Program: sum":
  - bin/sum

"Program: tac":
  - bin/tac

"Program: tail":
  - bin/tail

"Program: tar":
  - bin/tar

"Program: tee":
  - bin/tee

"Program: test":
  - bin/test

"Program: time":
  - bin/time

"Program: touch":
  - bin/touch

"Program: tr":
  - bin/tr

"Program: true":
  - bin/true

"Program: tsort":
  - bin/tsort

"Program: tty":
  - bin/tty

"Program: uname":
  - bin/uname

"Program: unexpand":
  - bin/unexpand

"Program: uniq":
  - bin/uniq

"Program: units":
  - bin/units

"Program: unlink":
  - bin/unlink

"Program: unpar":
  - bin/unpar

"Program: unshar":
  - bin/unshar

"Program: uudecode":
  - bin/uudecode

"Program: uuencode":
  - bin/uuencode

"Program: wc":
  - bin/wc

"Program: what":
  - bin/what

"Program: which":
  - bin/which

"Program: whoami":
  - bin/whoami

"Program: whois":
  - bin/whois

"Program: words":
  - bin/words

"Program: wump":
  - bin/wump

"Program: xargs":
  - bin/xargs

"Program: yes":
  - bin/yes

printf: descriptive error message (#564)
  bin/printf
Labels: Priority: low, Type: enhancement, Program: printf

Can't use // in Perl 5.008
  t/bc/input.t
Labels: Priority: low

kill: less regex
  bin/kill
Labels: Priority: low, Type: enhancement, Program: kill

cmp: remove -?
  bin/cmp
Labels: Priority: low, Type: enhancement, Program: cmp

improve quoting of filenames containing quotes
  bin/shar
Labels: Priority: low, Type: enhancement, Program: shar

shar: handle filename with space (#565)
  bin/shar
Labels: Priority: low, Type: enhancement, Program: shar

kill: less regex (#566)
  bin/kill
Labels: Priority: low, Type: enhancement, Program: kill

cmp: remove -? (#567)
  bin/cmp
Labels: Priority: low, Type: enhancement, Program: cmp

rmdir: stat file first
  bin/rmdir
Labels: Priority: low, Type: enhancement, Program: rmdir

moo: usage() > warn("Usage")
  bin/moo
Labels: Priority: low, Type: enhancement, Program: moo

tweak description text
  bin/moo
Labels: Priority: low, Type: enhancement, Program: moo

rmdir: stat file first (#568)
  bin/rmdir
Labels: Priority: low, Type: enhancement, Program: rmdir

moo: usage() > warn("Usage") (#569)
  bin/moo
Labels: Priority: low, Type: enhancement, Program: moo

packer v1.33
  README_PerlPowerTools.exe.pod
  bin/perlpowertools
  packed/perlpowertools
  packer/packer.pl
  t/perlpowertools/perlpowertools.exe.t
  t/perlpowertools/perlpowertools.t
  util/packer
Labels: Priority: low, Type: enhancement, Program: perlpowertools

file: avoid exit(0) for stdin case
  bin/file
Labels: Priority: low, Type: enhancement, Program: file

mkfifo: continue on error
  bin/mkfifo
Labels: Priority: low, Type: enhancement, Program: mkfifo

pwd: print error for getcwd() failure
  bin/pwd
Labels: Priority: low, Type: enhancement, Program: pwd

du: s/usage_exit/usage/
  bin/du
Labels: Priority: low, Type: enhancement, Program: du

tar: don't read stdin by default
  bin/tar
Labels: Priority: low, Type: enhancement, Program: tar

mkfifo: continue on error (#572)
  bin/mkfifo
Labels: Priority: low, Type: enhancement, Program: mkfifo

pwd: print error for getcwd() failure (#573)
  bin/pwd
Labels: Priority: low, Type: enhancement, Program: pwd

du: s/usage_exit/usage/ (#574)
  bin/du
Labels: Priority: low, Type: enhancement, Program: du

touch: fix typos
  bin/touch
Labels: Priority: low, Type: enhancement, Program: touch

touch: fix typos (#576)
  bin/touch
Labels: Priority: low, Type: enhancement, Program: touch

exit directly for better control of exit codes
  bin/file
Labels: Priority: low, Type: enhancement, Program: file

tar: avoid die() and exit directly
  bin/tar
Labels: Priority: low, Type: enhancement, Program: tar

file: avoid exit(0) for stdin case (#571)
  bin/file
Labels: Priority: low, Type: enhancement, Program: file

tar: don't read stdin by default (#575)
  bin/tar
Labels: Priority: low, Type: enhancement, Program: tar

ed: runtime error in edSubstitute()
  bin/ed
Labels: Priority: low, Type: enhancement, Program: ed

ed: runtime error in edSubstitute() (#577)
  bin/ed
Labels: Priority: low, Type: enhancement, Program: ed

diff: empty files are the same
  bin/diff
Labels: Priority: low, Type: enhancement, Program: diff

ed: no-match error for s///
  bin/ed
Labels: Priority: low, Type: enhancement, Program: ed

bc: divide by 0
  bin/bc
Labels: Priority: low, Type: enhancement, Program: bc

bc: divide by 0 (#580)
  bin/bc
Labels: Priority: low, Type: enhancement, Program: bc

diff: empty files are the same (#578)
  bin/diff
Labels: Priority: low, Type: enhancement, Program: diff

ed: no-match error for s/// (#579)
  bin/ed
Labels: Priority: low, Type: enhancement, Program: ed

rev: retire -v option
  bin/rev
Labels: Priority: low, Type: enhancement, Program: rev

rev: retire -v option (#581)
  bin/rev
Labels: Priority: low, Type: enhancement, Program: rev

Fix rev tests for new help and version messages (#581)
  t/rev/rev.t
Labels: Priority: low

Add a space in error message
  bin/tar
Labels: Priority: low, Type: enhancement, Program: tar
