Repository briandfoy/PerlPowerTools, changes with the labels that .github/labeler.yml gives for each.
All labels: Priority: low, Type: enhancement, Type: testing, Tyoe: distribution maintenance, Tyoe: documentation, Program: addbib, Program: apply, Program: ar, Program: arch, Program: arithmetic, Program: asa, Program: awk, Program: banner, Program: base64, Program: basename, Program: bc, Program: bc.bak, Program: bcd, Program: cal, Program: cat, Program: chgrp, Program: ching, Program: chmod, Program: chown, Program: clear, Program: cmp, Program: col, Program: colrm, Program: comm, Program: cp, Program: cut, Program: date, Program: dc, Program: deroff, Program: diff, Program: dirname, Program: du, Program: echo, Program: ed, Program: env, Program: expand, Program: expr, Program: factor, Program: false, Program: file, Program: find, Program: fish, Program: fmt, Program: fold, Program: fortune, Program: from, Program: glob, Program: grep, Program: hangman, Program: head, Program: hexdump, Program: id, Program: install, Program: join, Program: kill, Program: ln, Program: lock, Program: look, Program: ls, Program: mail, Program: maze, Program: mimedecode, Program: mkdir, Program: mkfifo, Program: moo, Program: morse, Program: nl, Program: od, Program: par, Program: paste, Program: patch, Program: perldoc, Program: perlpowertools, Program: pig, Program: ping, Program: pom, Program: ppt, Program: pr, Program: primes, Program: printenv, Program: printf, Program: pwd, Program: rain, Program: random, Program: rev, Program: rm, Program: rmdir, Program: robots, Program: rot13, Program: seq, Program: shar, Program: sleep, Program: sort, Program: spell, Program: split, Program: strings, Program: sum, Program: tac, Program: tail, Program: tar, Program: tee, Program: test, Program: time, Program: touch, Program: tr, Program: true, Program: tsort, Program: tty, Program: uname, Program: unexpand, Program: uniq, Program: units, Program: unlink, Program: unpar, Program: unshar, Program: uudecode, Program: uuencode, Program: wc, Program: what, Program: which, Program: whoami, Program: whois, Program: words, Program: wump, Program: xargs, Program: yes

.github/labeler.yml:

# Created by util/make_labeler_config at Mon Oct  2 00:29:55 2023
# https://github.com/marketplace/actions/labeler

"Priority: low":
  - '**'

"Type: enhancement":
  - 'bin/*'

"Type: testing":
  - any: [ 't/*', 'xt/*' ]

"Tyoe: distribution maintenance":
  - any: [ 'Makefile.PL', 'MANIFEST', 'MANIFEST.SKIP', 'INSTALL.SKIP', 'Changes', 'util/*' ]

"Tyoe: documentation":
  - any: [ 'CONTRIB*', 'LICENS*', 'PROGRAM*', 'README*' ]

"Program: addbib":
  - bin/addbib

"Program: apply":
  - bin/apply

"Program: ar":
  - bin/ar

"Program: arch":
  - bin/arch

"Program: arithmetic":
  - bin/arithmetic

"Program: asa":
  - bin/asa

"Program: awk":
  - bin/awk

"Program: banner":
  - bin/banner

"Program: base64":
  - bin/base64

"Program: basename":
  - bin/basename

"Program: bc":
  - bin/bc

"Program: bc.bak":
  - bin/bc.bak

"Program: bcd":
  - bin/bcd

"Program: cal":
  - bin/cal

"Program: cat":
  - bin/cat

"Program: chgrp":
  - bin/chgrp

"Program: ching":
  - bin/ching

"Program: chmod":
  - bin/chmod

"Program: chown":
  - bin/chown

"Program: clear":
  - bin/clear

"Program: cmp":
  - bin/cmp

"Program: col":
  - bin/col

"Program: colrm":
  - bin/colrm

"Program: comm":
  - bin/comm

"Program: cp":
  - bin/cp

"Program: cut":
  - bin/cut

"Program: date":
  - bin/date

"Program: dc":
  - bin/dc

"Program: deroff":
  - bin/deroff

"Program: diff":
  - bin/diff

"Program: dirname":
  - bin/dirname

"Program: du":
  - bin/du

"Program: echo":
  - bin/echo

"Program: ed":
  - bin/ed

"Program: env":
  - bin/env

"Program: expand":
  - bin/expand

"Program: expr":
  - bin/expr

"Program: factor":
  - bin/factor

"Program: false":
  - bin/false

"Program: file":
  - bin/file

"Program: find":
  - bin/find

"Program: fish":
  - bin/fish

"Program: fmt":
  - bin/fmt

"Program: fold":
  - bin/fold

"Program: fortune":
  - bin/fortune

"Program: from":
  - bin/from

"Program: glob":
  - bin/glob

"Program: grep":
  - bin/grep

"Program: hangman":
  - bin/hangman

"Program: head":
  - bin/head

"Program: hexdump":
  - bin/hexdump

"Program: id":
  - bin/id

"Program: install":
  - bin/install

"Program: join":
  - bin/join

"Program: kill":
  - bin/kill

"Program: ln":
  - bin/ln

"Program: lock":
  - bin/lock

"Program: look":
  - bin/look

"Program: ls":
  - bin/ls

"Program: mail":
  - bin/mail

"Program: maze":
  - bin/maze

"Program: mimedecode":
  - bin/mimedecode

"Program: mkdir":
  - bin/mkdir

"Program: mkfifo":
  - bin/mkfifo

"Program: moo":
  - bin/moo

"Program: morse":
  - bin/morse

"Program: nl":
  - bin/nl

"Program: od":
  - bin/od

"Program: par":
  - bin/par

"Program: paste":
  - bin/paste

"Program: patch":
  - bin/patch

"Program: perldoc":
  - bin/perldoc

"Program: perlpowertools":
  - bin/perlpowertools

"Program: pig":
  - bin/pig

"Program: ping":
  - bin/ping

"Program: pom":
  - bin/pom

"Program: ppt":
  - bin/ppt

"Program: pr":
  - bin/pr

"Program: primes":
  - bin/primes

"Program: printenv":
  - bin/printenv

"Program: printf":
  - bin/printf

"Program: pwd":
  - bin/pwd

"Program: rain":
  - bin/rain

"Program: random":
  - bin/random

"Program: rev":
  - bin/rev

"Program: rm":
  - bin/rm

"Program: rmdir":
  - bin/rmdir

"Program: robots":
  - bin/robots

"Program: rot13":
  - bin/rot13

"Program: seq":
  - bin/seq

"Program: shar":
  - bin/shar

"Program: sleep":
  - bin/sleep

"Program: sort":
  - bin/sort

"Program: spell":
  - bin/spell

"Program: split":
  - bin/split

"Program: strings":
  - bin/strings

"Program: sum":
  - bin/sum

"Program: tac":
  - bin/tac

"Program: tail":
  - bin/tail

"Program: tar":
  - bin/tar

"Program: tee":
  - bin/tee

"Program: test":
  - bin/test

"Program: time":
  - bin/time

"Program: touch":
  - bin/touch

"Program: tr":
  - bin/tr

"Program: true":
  - bin/true

"Program: tsort":
  - bin/tsort

"Program: tty":
  - bin/tty

"Program: uname":
  - bin/uname

"Program: unexpand":
  - bin/unexpand

"Program: uniq":
  - bin/uniq

"Program: units":
  - bin/units

"Program: unlink":
  - bin/unlink

"Program: unpar":
  - bin/unpar

"Program: unshar":
  - bin/unshar

"Program: uudecode":
  - bin/uudecode

"Program: uuencode":
  - bin/uuencode

"Program: wc":
  - bin/wc

"Program: what":
  - bin/what

"Program: which":
  - bin/which

"Program: whoami":
  - bin/whoami

"Program: whois":
  - bin/whois

"Program: words":
  - bin/words

"Program: wump":
  - bin/wump

"Program: xargs":
  - bin/xargs

"Program: yes":
  - bin/yes

printf: hex & octal escapes
  bin/printf
Labels: Priority: low, Type: enhancement, Program: printf

tac: validate input for -S option
  bin/tac
Labels: Priority: low, Type: enhancement, Program: tac

spell: fail for empty dictionary
  bin/spell
Labels: Priority: low, Type: enhancement, Program: spell

whois: fail for bad options & no args
  bin/whois
Labels: Priority: low, Type: enhancement, Program: whois

printf: hex & octal escapes (#528)
  bin/printf
Labels: Priority: low, Type: enhancement, Program: printf

whois: fail for bad options & no args (#531)
  bin/whois
Labels: Priority: low, Type: enhancement, Program: whois

tac: validate input for -S option (#529)
  bin/tac
Labels: Priority: low, Type: enhancement, Program: tac

spell: fail for empty dictionary (#530)
  bin/spell
Labels: Priority: low, Type: enhancement, Program: spell

printf: ignore args case
  bin/printf
Labels: Priority: low, Type: enhancement, Program: printf

whois: submit new query per domain
  bin/whois
Labels: Priority: low, Type: enhancement, Program: whois

kill: validate pid
  bin/kill
Labels: Priority: low, Type: enhancement, Program: kill

comm: don't enforce grouped options
  bin/comm
Labels: Priority: low, Type: enhancement, Program: comm

kill: validate pid (#534)
  bin/kill
Labels: Priority: low, Type: enhancement, Program: kill

printf: ignore args case (#532)
  bin/printf
Labels: Priority: low, Type: enhancement, Program: printf

whois: submit new query per domain (#533)
  bin/whois
Labels: Priority: low, Type: enhancement, Program: whois

comm: don't enforce grouped options (#535)
  bin/comm
Labels: Priority: low, Type: enhancement, Program: comm

col: buffering code broken (#483)
  bin/col
Labels: Priority: low, Type: enhancement, Program: col

mail: connect() error tweak
  bin/mail
Labels: Priority: low, Type: enhancement, Program: mail

whois: add strict
  bin/whois
Labels: Priority: low, Type: enhancement, Program: whois

whois: add strict (#537)
  bin/whois
Labels: Priority: low, Type: enhancement, Program: whois

mail: connect() error tweak (#536)
  bin/mail
Labels: Priority: low, Type: enhancement, Program: mail

whois: forbid query containing only whitespace
  bin/whois
Labels: Priority: low, Type: enhancement, Program: whois

glob: unused variable
  bin/glob
Labels: Priority: low, Type: enhancement, Program: glob

bc: unifdef YYDEBUG
  bin/bc
Labels: Priority: low, Type: enhancement, Program: bc

arithmetic: empty answer is not a number
  bin/arithmetic
Labels: Priority: low, Type: enhancement, Program: arithmetic

back out 'use warnings'
  bin/arithmetic
Labels: Priority: low, Type: enhancement, Program: arithmetic

ed: input filename validation
  bin/ed
Labels: Priority: low, Type: enhancement, Program: ed

whois: forbid query containing only whitespace (#538)
  bin/whois
Labels: Priority: low, Type: enhancement, Program: whois

glob: unused variable (#539)
  bin/glob
Labels: Priority: low, Type: enhancement, Program: glob

arithmetic: empty answer is not a number (#541)
  bin/arithmetic
Labels: Priority: low, Type: enhancement, Program: arithmetic

ed: input filename validation (#542)
  bin/ed
Labels: Priority: low, Type: enhancement, Program: ed

bc: unifdef YYDEBUG (#540)
  bin/bc
Labels: Priority: low, Type: enhancement, Program: bc

bc: avoid extra copy of filehandle
  bin/bc
Labels: Priority: low, Type: enhancement, Program: bc

fish: simplify draw()
  bin/fish
Labels: Priority: low, Type: enhancement, Program: fish

asa: avoid repeated regex
  bin/asa
Labels: Priority: low, Type: enhancement, Program: asa

file: die for bad options
  bin/file
Labels: Priority: low, Type: enhancement, Program: file

tail: die for bad options
  bin/tail
Labels: Priority: low, Type: enhancement, Program: tail

tail: die for bad options (#547)
  bin/tail
Labels: Priority: low, Type: enhancement, Program: tail

file: die for bad options (#546)
  bin/file
Labels: Priority: low, Type: enhancement, Program: file

bc: avoid extra copy of filehandle (#543)
  bin/bc
Labels: Priority: low, Type: enhancement, Program: bc
