Repository briandfoy/PerlPowerTools, pull requests merged in 2023-10, with the labels that each got.

#276 cal: avoid split() when formatting a whole year
  bin/cal
Labels: Type: enhancement, Priority: low, Program: cal

#277 cal: switch to getopts()
  bin/cal
Labels: Type: enhancement, Status: accepted, Program: cal

#278 split: remnants of -?
  bin/split
Labels: Type: enhancement, Priority: low, Program: split

#279 mail can't write to mbox
  bin/mail
Labels: Type: enhancement, Status: accepted, Program: mail

#280 pom: common library functions
  bin/pom
Labels: Type: enhancement, Priority: low, Program: pom

#281 id: uid 0 is valid
  bin/id
Labels: Type: enhancement, Status: accepted, Program: id

#282 bc: filename 0 is not special
  bin/bc
Labels: Type: enhancement, Priority: low, Program: bc

#283 hexdump: filename 0 is not special
  bin/hexdump
Labels: Type: enhancement, Priority: low, Program: hexdump

#285 file: incorrect error message
  bin/file
Labels: Type: enhancement, Status: accepted, Program: file

#284 tail: check_number() too forgiving
  bin/tail
Labels: Type: enhancement, Status: accepted, Program: tail

#287 date: unused var
  bin/date
Labels: Type: enhancement, Status: accepted, Program: date

#286 banner: switch to getopt
  bin/banner
Labels: Type: enhancement, Status: accepted, Program: banner

#288 xargs: add -0 flag
  bin/xargs
Labels: Type: enhancement, Priority: low, Program: xargs

#289 strings: validation + strict
  bin/strings
Labels: Type: enhancement, Status: accepted, Program: strings

#290 tee: null mode param passed to open()
  bin/tee
Labels: Type: enhancement, Priority: low, Program: tee

#291 nl: Pod::Usage
  bin/nl
Labels: Type: enhancement, Status: accepted, Program: nl

#295 wc: report file arguments as provided
  bin/wc
Labels: Type: enhancement, Priority: low, Program: wc

#294 tail: continue on error
  bin/tail
Labels: Type: enhancement, Priority: low, Program: tail

#296 tail -n: 0 versus +0 versus -0
  bin/tail
Labels: Type: enhancement, Priority: low, Program: tail

#297 cut: error for unknown options
  bin/cut
Labels: Type: enhancement, Priority: low, Program: cut

#298 tail: warn for directory args
  bin/tail
Labels: Type: enhancement, Priority: low, Program: tail

#299 cut: -b 0 and -f 0 are invalid
  bin/cut
Labels: Type: enhancement, Priority: low, Program: cut

#300 shar: dependency error
  bin/shar
Labels: Type: enhancement, Priority: low, Program: shar

#302 Try it by outputing output
  util/merge-labeler
Labels: Priority: low, Type: repo maintenance

#303 shar: ignore directories
  bin/shar
Labels: Type: enhancement, Priority: low, Program: shar

#306 comm: use strict
  bin/comm
Labels: Type: enhancement, Priority: low, Program: comm

#307 cmp: exit(2) on failure
  bin/cmp
Labels: Type: enhancement, Priority: low, Program: cmp

#304 shar: support directory args from find
  bin/shar
Labels: Type: enhancement, Priority: low, Program: shar
