Repository briandfoy/PerlPowerTools, pull requests merged in 2023-11, with the labels that each got.

#308 diff: validation for -U and -C
  bin/diff
Labels: Type: enhancement, Priority: low, Program: diff

#309 cmp: read hex input with hex()
  bin/cmp
Labels: Type: enhancement, Priority: low, Program: cmp

#310 cmp: support reading STDIN
  bin/cmp
Labels: Type: enhancement, Priority: low, Program: cmp

#318 rev: warning for directory args
  bin/rev
Labels: Type: enhancement, Priority: low, Program: rev

#317 uuencode: make stdin work again
  bin/uuencode
Labels: Type: enhancement, Priority: low, Program: uuencode

#316 mail: improve temp file selection
  bin/mail
Labels: Type: enhancement, Priority: low, Program: mail

#315 ed: unused variable
  bin/ed
Labels: Type: enhancement, Priority: low, Program: ed

#314 patch: patchfile can be read from stdin
  bin/patch
Labels: Type: enhancement, Priority: low, Program: patch

#313 join: '-' for stdin
  bin/join
Labels: Type: enhancement, Priority: low, Program: join

#311 diff: treat - as stdin
  bin/diff
Labels: Type: enhancement, Priority: low, Program: diff

#312 mkfifo: common -m usage
  bin/mkfifo
Labels: Type: enhancement, Priority: low, Program: mkfifo

#319 mail: forbid directory for -f FILE
  bin/mail
Labels: Type: enhancement, Priority: low, Program: mail

#320 printf: support hex number arguments
  bin/printf
Labels: Type: enhancement, Priority: low, Program: printf

#322 fortune: simplify -w flag
  bin/fortune
Labels: Type: enhancement, Priority: low, Program: fortune

#321 mail: raise error for message id 0
  bin/mail
Labels: Type: enhancement, Priority: low, Program: mail

#301 ls: retire invalid ioctl()
  bin/ls
Labels: Type: enhancement, Priority: low, Status: changes requested, Program: ls

#292 bc: runtime error eats too much input
  bin/bc
Labels: Type: enhancement, Priority: low, Program: bc

#323 mail: duplicated VISUAL code
  bin/mail
Labels: Type: enhancement, Priority: low, Program: mail

#326 touch: support directories
  bin/touch
Labels: Type: enhancement, Priority: low, Program: touch

#325 unexpand: read stdin
  bin/unexpand
Labels: Type: enhancement, Priority: low, Program: unexpand

#324 expand: read stdin
  bin/expand
Labels: Type: enhancement, Priority: low, Program: expand

#327 comm: accept '-' for stdin
  bin/comm
Labels: Type: enhancement, Priority: low, Program: comm

#337 tar: raise error for directory argument to -f
  bin/tar
Labels: Type: enhancement, Priority: low, Program: tar

#338 expr: re-enable strict
  bin/expr
Labels: Type: enhancement, Priority: low, Program: expr

#333 strings: read stdin by default
  bin/strings
Labels: Type: enhancement, Priority: low, Program: strings

#341 chgrp: '--' option terminator
  bin/chgrp
Labels: Type: enhancement, Priority: low, Program: chgrp

#332 pr: accept -- as end of options
  bin/pr
Labels: Type: enhancement, Priority: low, Program: pr

#334 col: reject 0 value for -l
  bin/col
Labels: Type: enhancement, Priority: low, Program: col

#331 ln: fatal error for bad options
  bin/ln
Labels: Type: enhancement, Priority: low, Program: ln

#340 unexpand: don't slurp entire input file
  bin/unexpand
Labels: Type: enhancement, Priority: low, Program: unexpand

#329 expand: don't suppress backspace
  bin/expand
Labels: Type: enhancement, Priority: low, Program: expand

#335 spell: dictionary input loop
  bin/spell
Labels: Type: enhancement, Priority: low, Program: spell

#328 date: document %q feature
  bin/date
Labels: Type: enhancement, Priority: low, Program: date

#336 arithmetic: use getopts()
  bin/arithmetic
Labels: Type: enhancement, Priority: low, Program: arithmetic

#330 ed: r command addresses
  bin/ed
Labels: Type: enhancement, Priority: low, Program: ed

#339 install: target path in install_files()
  bin/install
Labels: Type: enhancement, Priority: low, Program: install

#348 fix exit status
  bin/install
  bin/patch
Labels: Type: enhancement, Priority: low, Program: install

#344 expand: don't slurp input file
  bin/expand
Labels: Type: enhancement, Priority: low, Program: expand

#345 join: show usage
  bin/join
Labels: Type: enhancement, Priority: low, Program: join

#347 chmod & chown: -- option terminator
  bin/chmod
  bin/chown
Labels: Type: enhancement, Priority: low, Program: chmod, Program: chown

#343 col: add a usage string
  bin/col
Labels: Type: enhancement, Priority: low, Program: col

#346 ed: newline append versus 'r' command
  bin/ed
Labels: Type: enhancement, Priority: low, Program: ed

#342 pr: improve -o margin_spaces
  bin/pr
Labels: Type: enhancement, Priority: low, Program: pr

#349 ed: error string consolidation
  bin/ed
Labels: Type: enhancement, Priority: low, Program: ed

#350 pr: incorrect looping with -l
  bin/pr
Labels: Type: enhancement, Priority: low, Program: pr

#351 pr: support stdin
  bin/pr
Labels: Type: enhancement, Priority: low, Program: pr

#352 pr: validate -o COUNT
  bin/pr
Labels: Type: enhancement, Priority: low, Program: pr
