Repository briandfoy/PerlPowerTools, pull requests merged in 2024-03, with the labels that each got.

#477 ping: fatal error for unknown options
  bin/ping
Labels: Type: enhancement, Priority: low, Program: ping

#476 asa: regex too greedy
  bin/asa
Labels: Type: enhancement, Priority: low, Program: asa

#478 uname: reject command arguments
  bin/uname
Labels: Type: enhancement, Priority: low, Program: uname

#479 nl: support one file argument
  bin/nl
Labels: Type: enhancement, Priority: low, Program: nl

#480 tee: '--' option terminator
  bin/tee
Labels: Type: enhancement, Priority: low, Program: tee

#463 od: support multiple input files
  bin/od
Labels: Type: enhancement, Priority: low, Status: changes requested, Program: od

#481 unshar: '--' option terminator
  bin/unshar
Labels: Type: enhancement, Priority: low, Program: unshar

#482 split: raise error for -b 0
  bin/split
Labels: Type: enhancement, Status: accepted, Program: split

#484 ar: runtime error for bad args
  bin/ar
Labels: Type: enhancement, Status: accepted, Program: ar

#485 cut: -f not allowed with -b
  bin/cut
Labels: Type: enhancement, Status: accepted, Program: cut

#486 which: 3 distinct exit codes
  bin/which
Labels: Type: enhancement, Priority: low, Program: which

#490 glob: handle bare tilde
  bin/glob
Labels: Type: enhancement, Priority: low, Program: glob

#489 ed: simplify edSetCurrentLine()
  bin/ed
Labels: Type: enhancement, Priority: low, Program: ed

#487 fmt: indicate open() failure
  bin/fmt
Labels: Type: enhancement, Priority: low, Program: fmt

#488 sum: ambiguous options
  bin/sum
Labels: Type: enhancement, Priority: low, Program: sum

#491 expand: single tabstop correction
  bin/expand
Labels: Type: enhancement, Priority: low, Program: expand

#492 expand: '--' option terminator
  bin/expand
Labels: Type: enhancement, Status: accepted, Program: expand

#494 id: don't ignore extra arguments
  bin/id
Labels: Type: enhancement, Priority: low, Program: id

#495 ar: file header not printed for -q
  bin/ar
Labels: Type: enhancement, Priority: low, Program: ar

#493 tar: file extraction fix
  bin/tar
Labels: Type: enhancement, Priority: low, Program: tar

#496 nl: numbering type validation
  bin/nl
Labels: Type: enhancement, Priority: low, Program: nl

#497 ln: single argument usage
  bin/ln
Labels: Type: enhancement, Priority: low, Program: ln

#498 od: duplicate marker incorrectly repeats
  bin/od
Labels: Type: enhancement, Priority: low, Program: od

#499 unexpand: -- option terminator
  bin/unexpand
Labels: Type: enhancement, Priority: low, Program: unexpand

#500 ar: warn if archive member isn't found
  bin/ar
Labels: Type: enhancement, Priority: low, Program: ar

#501 arithmetic: -r validation
  bin/arithmetic
Labels: Type: enhancement, Priority: low, Program: arithmetic

#502 hangman: more validation
  bin/hangman
Labels: Type: enhancement, Priority: low, Program: hangman

#504 join: '--' option terminator
  bin/join
Labels: Type: enhancement, Priority: low, Program: join

#503 printenv: retire -? flag
  bin/printenv
Labels: Type: enhancement, Priority: low, Program: printenv

#506 fix fox Unquoted $^X in date.t #505
  t/date/date.t
Labels: Priority: low

#510 ar: add strict
  bin/ar
Labels: Type: enhancement, Priority: low, Program: ar

#512 touch: remove -f from usage()
  bin/touch
Labels: Type: enhancement, Priority: low, Program: touch

#513 kill: list signals for bad sig name
  bin/kill
Labels: Type: enhancement, Priority: low, Program: kill

#515 du: warn on stat() failure
  bin/du
Labels: Type: enhancement, Priority: low, Program: du

#514 install: broken symbolic permissions
  bin/install
Labels: Type: enhancement, Priority: low, Program: install

#516 maze: options before arguments
  bin/maze
Labels: Type: enhancement, Priority: low, Program: maze

#511 bc: regression on old perl
  bin/bc
Labels: Type: enhancement, Priority: low, Status: changes requested, Program: bc

#517 bc: assign '=' should not print
  bin/bc
Labels: Type: enhancement, Priority: low, Program: bc

#520 test: exit(1) for no argument
  bin/test
Labels: Type: enhancement, Priority: low, Program: test

#519 mail: overloaded hostname() definition
  bin/mail
Labels: Type: enhancement, Priority: low, Program: mail

#521 bc: forbid negative array index
  bin/bc
Labels: Type: enhancement, Priority: low, Program: bc

#523 bc: array name versus digits
  bin/bc
Labels: Type: enhancement, Priority: low, Program: bc

#524 awk refuses to use a2p
  bin/awk
Labels: Type: enhancement, Priority: low, Program: awk

#525 awk: remove temporary files
  bin/awk
Labels: Type: enhancement, Priority: low, Program: awk
