Repository briandfoy/PerlPowerTools, pull requests merged in 2024-08, with the labels that each got.

#692 fold: add getopts()
  bin/fold
Labels: Type: enhancement, Priority: low, Program: fold

#694 patch: retire Patch::import()
  bin/patch
Labels: Type: enhancement, Priority: low, Program: patch

#695 fmt: validate width
  bin/fmt
Labels: Type: enhancement, Priority: low, Program: fmt

#696 fmt: exit(1) for directory
  bin/fmt
Labels: Type: enhancement, Priority: low, Program: fmt

#697 spell: rename -s option
  bin/spell
Labels: Type: enhancement, Priority: low, Program: spell

#698 pr -0 causes divzero
  bin/pr
Labels: Type: enhancement, Status: accepted, Program: pr

#700 factor: increase range and speed up code
  bin/factor
Labels: Type: enhancement, Priority: low, Program: factor

#705 bc: remove signal handling
  bin/bc
Labels: Type: enhancement, Priority: low, Program: bc

#704 tee: detect write() failure
  bin/tee
Labels: Type: enhancement, Priority: low, Program: tee

#703 patch: runtime error when patching the wrong file
  bin/patch
Labels: Type: enhancement, Priority: low, Program: patch

#706 patch: simplify --check
  bin/patch
Labels: Type: enhancement, Priority: low, Program: patch

#707 units: fail if custom unittab file doesn't open
  bin/units
Labels: Type: enhancement, Status: accepted, Program: units

#708 grep: -q and -s options reversed
  bin/grep
Labels: Type: enhancement, Priority: low, Program: grep

#709 grep: filename prefix correction
  bin/grep
Labels: Type: enhancement, Priority: low, Program: grep

#715 id: gid 0 is valid
  bin/id
Labels: Type: enhancement, Priority: low, Program: id

#710 grep: shortcut exit path for -q
  bin/grep
Labels: Type: enhancement, Priority: low, Program: grep

#711 cmp: sysread failure guard
  bin/cmp
Labels: Type: enhancement, Priority: low, Program: cmp

#712 patch: pod update for --ifdef
  bin/patch
Labels: Type: enhancement, Priority: low, Program: patch

#713 ar: failed read() error
  bin/ar
Labels: Type: enhancement, Priority: low, Program: ar

#714 awk: auto-clean /tmp
  bin/awk
Labels: Type: enhancement, Priority: low, Status: changes requested, Program: awk

#717 morse: leading whitespace failure
  bin/morse
Labels: Type: enhancement, Priority: low, Program: morse

#718 patch: chdir happens too late
  bin/patch
Labels: Type: enhancement, Priority: low, Program: patch

#719 patch: reject negative --fuzz value
  bin/patch
Labels: Type: enhancement, Priority: low, Program: patch

#720 random: raise error for bad option
  bin/random
Labels: Type: enhancement, Priority: low, Program: random

#721 patch: allow --output to stdout
  bin/patch
Labels: Type: enhancement, Priority: low, Program: patch

#716 dirname: support -- terminator
  bin/dirname
Labels: Type: enhancement, Status: accepted, Program: dirname

#723 basename: support -- option terminator
  bin/basename
  bin/dirname
Labels: Type: enhancement, Priority: low, Program: basename, Program: dirname

#722 mkdir: add --version
  bin/mkdir
Labels: Type: enhancement, Priority: low, Program: mkdir

#177 Tweak initial bc manual
  bin/bc
Labels: Type: documentation, Priority: low, Program: bc

#724 basename: suffix argument did nothing
  bin/basename
Labels: Type: enhancement, Priority: low, Program: basename

#725 moo: quit on EOF
  bin/moo
Labels: Type: enhancement, Priority: low, Program: moo

#726 diff: catfile > join
  bin/diff
Labels: Type: enhancement, Priority: low, Program: diff

#728 ar: binmode for writing archives
  bin/ar
Labels: Type: bug, Priority: low, Program: ar
