Repository briandfoy/PerlPowerTools, pull requests merged in 2025-03, with the labels that each got.

#975 ls: runtime error for non-existent file argument
  bin/ls
Labels: Type: bug, Type: enhancement, Status: needs verification, Priority: low, Program: ls

#976 grep: documentation update
  bin/grep
Labels: Type: bug, Type: enhancement, Status: needs verification, Priority: low, Program: grep

#977 chgrp: fail early for empty string
  bin/chgrp
Labels: Type: bug, Type: enhancement, Status: needs verification, Priority: low, Program: chgrp

#978 tar: fail early for bad options
  bin/tar
Labels: Type: bug, Type: enhancement, Priority: low, Status: changes requested, Program: tar

#982 chmod: show which option is wrong
  bin/chmod
Labels: Type: bug, Type: enhancement, Status: needs verification, Priority: low, Program: chmod

#981 tac: don't print version number in usage string
  bin/tac
Labels: Type: bug, Type: enhancement, Status: needs verification, Priority: low, Program: tac

#980 install: -m MODE validation
  bin/install
Labels: Type: bug, Type: enhancement, Status: needs verification, Priority: low, Program: install

#979 patch: crash for invalid context diff input
  bin/patch
Labels: Type: bug, Type: enhancement, Status: needs verification, Priority: low, Program: patch

#983 mail: invalid message number accepted
  bin/mail
Labels: Type: bug, Status: needs verification, Priority: low, Program: mail

#986 ed: initial edEdit() errors were lost
  bin/ed
Labels: Type: bug, Type: enhancement, Status: needs verification, Priority: low, Program: ed

#984 install: -o0 and -g0 ignored
  bin/install
Labels: Type: bug, Type: enhancement, Status: needs verification, Priority: low, Program: install

#987 date: too much whitespace for %e format
  bin/date
Labels: Type: bug, Type: enhancement, Status: needs verification, Priority: low, Program: date

#989 Respect symlinks in bin/ls
  MANIFEST
  bin/ls
  t/bc/input.t
  t/ls/ls.t
  t/rm/run.t
Labels: Type: bug, Priority: low, Program: ls
